.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #34495e;
  height: 70px;
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo svg {
  font-size: 30px;
  fill: #f1c40f;
}

.bag {
  color: #fff;
  position: relative;
}

.bag svg {
  font-size: 30px;
}

.quantity {
  position: absolute;
  top: 0;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: #f1c40f;
  color: #34495e;
  border-radius: 50%;
  font-weight: 700;
}
